.image-upload-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .page-title {
    font-size: 24px;
    margin-bottom: 0px;
  }
  
  .image-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .image-item {
    margin: 10px;
  }
  
  .uploaded-image {
    max-width: 200px;
    max-height: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }