.image-list-container {
  margin-top: 20px;
}

.image-list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  column-gap: 0; 
}

.image-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s;
  grid-column-end: span 1; 
}

.image-item:hover {
  transform: scale(1.05);
}

.image-frame {
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.uploaded-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.image-title {
  font-size: 24px;
  margin-top: 10px;
}